$primary: #8bb30f;
$secondary: #207108;
$light: #e1e1dc;
$dark: #070c12;
$success: #279c04;
$info: #0e1d77;
$warning: #f8bf05;
$danger: #ee024f;

$primary-dark: #2b3804 !default;
$primary-base: #8bb30f !default;
$primary-50: #c4ff14 !default;
$primary-25: #e5ff96 !default;

$secondary-dark: #212233 !default;
$secondary-base: #9da5b1 !default;
$secondary-50: #9da5b1 !default;
$secondary-25: #ced2d8 !default;

$success-dark: #185c03 !default;
$success-base: #279c04 !default;
$success-50: #91e378 !default;
$success-25: #beedaf !default;

$info-dark: #070e38 !default;
$info-base: #0e1d77 !default;
$info-50: #102185 !default;
$info-25: #1831c4 !default;

$warning-dark: #785c02 !default;
$warning-base: #f8bf05 !default;
$warning-50: #ffd64f !default;
$warning-25: #ffecad !default;

$danger-dark: #730127 !default;
$danger-base: #ee024f !default;
$danger-50: #e8749b !default;
$danger-25: #e8aec1 !default;

$white: #fff !default;
$gray-base: #434342 !default;
$gray-100: #e1e1dc !default;
$gray-200: #cbcbc6 !default;
$gray-300: #b4b4b0 !default;
$gray-400: #9e9e9a !default;
$gray-500: #878784 !default;
$gray-600: #71716e !default;
$gray-700: #5a5a58 !default;
$gray-800: #434342 !default;
$gray-900: #2d2d2c !default;
$black: #030300 !default;
